.cm-directiva { color: #e70045 !important; }
.cm-mnemonic { color: #0000FF !important; }
.cm-register { color: #b900b9!important; }
.cm-operator { color: #ff7f00 !important;}
.cm-number { color: #ee5e44 !important;}
.cm-error { color: #000000 !important;}
.cm-etiquetas { color: #ff1f1f !important;}
.cm-comment { color: #51b423 !important; font-style: italic !important; }


/* .CodeMirror { height: auto; border: 1px solid #ddd; }

.cm-mnemonic { color: #0000FF !important; font-weight: bold; }

.cm-register { color: #FF00FF!important; font-weight: bold; }

.cm-number { color: #ffad66!important; }

.cm-comment { color: #6A9955!important; font-style: italic; }

.cm-etiquetas { color: rgb(0, 0, 0)!important; font-style: bold; }


.cm-directivas {
    color: #FF6347; 
    font-weight: bold;
  }
*/